<div class="card w-75">
  <div class="d-flex card-header">
    <div class="me-auto">
      {{title}}
    </div>
    <div>
      Posted by {{user.username}} on {{format_date created_at}}
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">
      {{text}}
    </p>
  </div>
</div>