<div class="card w-75 m-3">
  <div class="d-flex card-header">
    <div class="me-auto">
      {{title}}
    </div>
    <div>
      <a href="/dashboard/edit/{{id}}" class="edit-link"> <i class="far fa-edit fa-2x"></i></a>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">
      {{text}}
    </p>
  </div>
</div>