<section>
  <h2 class="m-3">Create New Post</h2>

  <form class="w-75 m-4 new-post-form">
    <div class="mb-3">
      <label for="post-title" class="form-lable">Title</label>
      <input type="text" class="form-control" id="post-title" name="post-title" />
    </div>
    <div class="mb-3">
      <label for="post-text" class="form-lable">Content</label>
      <textarea class="form-control" id="post-text" name="post-text" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-dark">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2 class="m-3">Your Posts</h2>
  <div>
    {{#each posts as |post|}}
      {{> post-info post }}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    {{/each}}
  </div>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>
