<h2 class="m-3">Login</h2>
<form class="w-25 m-4 login-form">
  <div class="mb-3">
    <label for="email-login" class="form-lable">Email:</label>
    <input type="text" class="form-control" id="email-login" />
  </div>
  <div class="mb-3">
    <label for="password-login" class="form-lable">Password:</label>
    <input type="password" class="form-control" id="password-login" />
  </div>
  <div>
    <button type="submit" class="btn btn-dark">Login</button>
  </div>
</form>

<h2 class="m-3">Signup</h2>
<form class="w-25 m-4 signup-form">
  <div class="mb-3">
    <label for="username-signup" class="form-lable">Username:</label>
    <input type="text" class="form-control" id="username-signup" />
  </div>
  <div class="mb-3 ">
    <label for="email-signup" class="form-lable">email:</label>
    <input type="text" class="form-control" id="email-signup" />
  </div>
  <div class="mb-3">
    <label for="password-signup" class="form-lable">password:</label>
    <input type="password" class="form-control" id="password-signup" />
  </div>
  <div>
    <button type="submit" class="btn btn-dark">Signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script>
