{{> post-info post}}

{{#if loggedIn}}
<form class="m-4 comment-form">
  <div class="mb-3">
    <textarea class="form-control" name="comment-body" rows="3"></textarea>
  </div>
  <div>
    <button type="submit" class="btn btn-dark">add comment</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}
