.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.nounderline {
  color: white;
  text-decoration: none !important
}

.nounderline:hover {
  color: white;
}
