.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.nounderline {
  color: white;
  text-decoration: none !important
}

.nounderline:hover {
  color: white;
}